.input {
  width: 300px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
}

.input:focus {
  border-color: lightskyblue;
}

.wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.section {
  width: 100%;
  height: 20px;
  background-color: grey;
}
